
@{
    /**/

    ViewBag.Title = "Editar Datos";
}
@model  FicticiaSA.Models.VMCliente

@if (Session["usuario"] != null)
{
    <h2>Editar datos</h2>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">

            @using (Html.BeginForm())
            {
                @Html.HiddenFor(x => x.clienteVM.idCliente)
            <div class="form-group">
                <label>NOMBRE COMPLETO</label>
                @Html.TextBoxFor(x => x.clienteVM.nombre, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.clienteVM.nombre, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label>DNI</label>
                @Html.TextBoxFor(x => x.clienteVM.dni, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.clienteVM.dni, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                <label>EDAD</label>
                @Html.TextBoxFor(x => x.clienteVM.edad, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(x => x.clienteVM.edad, "", new { @class = "text-danger" })
            </div>
                <div class="form-group">
                    <label>GÉNERO</label>
                    @Html.DropDownListFor(x => x.clienteVM.idGenero, new SelectList(Model.generoVM, "idGenero", "descripcion"), "SELECCIONE", htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>MANEJA</label>
                    @Html.CheckBoxFor(x => x.clienteVM.maneja, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>USA LENTES</label>
                    @Html.CheckBoxFor(x => x.clienteVM.usaLentes, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>ES DIABETICO?</label>
                    @Html.CheckBoxFor(x => x.clienteVM.diabetico, htmlAttributes: new { @class = "form-control" })
                </div>
                <div class="form-group">
                    <label>PADECE OTRA ENFERMEDAD? CUAL?</label>
                    @Html.TextBoxFor(x => x.clienteVM.otraEnfermedad, htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(x => x.clienteVM.otraEnfermedad, "", new { @class = "text-danger" })
                </div>
                <input type="submit" value="Aceptar" class="btn btn-primary" />
            }
        </div>
        <div class="col-md-2"></div>
    </div>
}
else
{
    <h2 style="color:red">Debe iniciar session</h2>
}

